@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background-color: white;
  text-align: center;
  color: black;
  font-family: 'Nunito', sans-serif;
}

h1#main {
  font-size: 70px;
}

div.style {
  border: 2px solid black;
  height: 200px;
  width: 400px;
  margin: 1em;
  display: inline-block;
}

#seattle, #hawaii, #nyc, #london, #beijing, #dubai {
  font-size: 2em;
  margin: 0;
}

/*height: 100px;
width: 800px;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
padding-top: 70px;
font-family: 'Roboto', sans-serif;
text-align: center;
color: white;
font-size: 100px;*/
