body {
    background-color: #F7D1CD;
}

body.one {
  background-color: #E8C2CA;
}
body.two {
  background-color: #D1B3C4;
}

body.three {
  background-color: #B392AC;
}
body.four {
  background-color: #735D78;
}
body.five {
  background-color: #B392AC;
}
body.six {
  background-color: #D1B3C4;
}
body.seven {
  background-color: #E8C2CA;
}
body.eight {
  background-color: #F7D1CD;
}
body.nine {
  background-color: #F7E5E3;
}

body.zerozero {
  background-color: black;
}

#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px;
}
